<div class="body">
  <div class="div">
    <h4><span class="span  animate__bounce">Olá, meu nome é </span>Júnior</h4>
    <h4 class="action animation"><span class="span">Eu sou desenvolvedor</span> Web e Mobile</h4>
  </div>

</div>




<section class="hidden">
  <h1> teste OPA OPA</h1>
  <p> Hoje vou ensinar a vocês como formatar textos em HTML. Lembrando que utilizaremos algumas tags de formatação
    padrão dos navegadores e não utilizaremos CSS</p>
</section>

<div class="card hidden primary">

  <div class="card-body"><h1>Languages and Tools:</h1>
    <p class="card-text">My experiences and skills in languages.</p>
    <img src="../../../assets/icons/angular.png" alt="angular" width="50px" height="50px">
    <img src="../../../assets/icons/angular.png" alt="angular" width="50px" height="50px">
    <img src="../../../assets/icons/angular.png" alt="angular" width="50px" height="50px">
    <img src="../../../assets/icons/angular.png" alt="angular" width="50px" height="50px">
    <img src="../../../assets/icons/angular.png" alt="angular" width="50px" height="50px">
    <img src="../../../assets/icons/angular.png" alt="angular" width="50px" height="50px">
    <img src="../../../assets/icons/angular.png" alt="angular" width="50px" height="50px">
  </div>
</div>

<section class="hidden">
  <h1> teste OPA OPA</h1>
  <p> Hoje vou ensinar a vocês como formatar textos em HTML. Lembrando que utilizaremos algumas tags de formatação
    padrão dos navegadores e não utilizaremos CSS</p>
</section>



<section class="hidden">
  <h1> teste OPA OPA</h1>
  <p> Hoje vou ensinar a vocês como formatar textos em HTML. Lembrando que utilizaremos algumas tags de formatação
    padrão dos navegadores e não utilizaremos CSS</p>
</section>