
.action{
    border-right: 1px solid rgba(255, 255, 255, 0.75);
    font-size: 3em;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.animation{
    animation: Cursor 500ms infinite normal, type 4s steps(40) 0.4s normal both;
}

@keyframes type {
    from{
        width: 0;
    }
    to{
        width: 18em;
    }
    
}
@keyframes Cursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.div{
    position: absolute;
    top: 20%;
    left: 45%;
}
.primary{
    background-color: #C2185B;
    color: #ffff;
}
h4{
    color: #C2185B;
    letter-spacing: 2px;
    font-size: 40px;
    animation-duration: 4s;
}
.span{
    color: #ffff;
}
