<div class="body">
  <div class="div">
    <h4><span class="span  animate__bounce">Olá, meu nome é </span>Júnior</h4>
    <h4 class="action animation"><span class="span">Eu sou desenvolvedor</span> Web e Mobile</h4>
  </div>
  
</div>



  
<section class="hidden">
  <h1> teste OPA OPA</h1>
  <p> Hoje vou ensinar a vocês como formatar textos em HTML. Lembrando que utilizaremos algumas tags de formatação padrão dos navegadores e não utilizaremos CSS</p>
</section>

<div class="card hidden primary">
  <img src="..." class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<section class="hidden">
  <h1> teste OPA OPA</h1>
  <p> Hoje vou ensinar a vocês como formatar textos em HTML. Lembrando que utilizaremos algumas tags de formatação padrão dos navegadores e não utilizaremos CSS</p>
</section>



<section class="hidden">
  <h1> teste OPA OPA</h1>
  <p> Hoje vou ensinar a vocês como formatar textos em HTML. Lembrando que utilizaremos algumas tags de formatação padrão dos navegadores e não utilizaremos CSS</p>
</section>

